<section class="gp-events" v-show="posts.length">
	<div class="section-header">
		<h1>Events</h1>
		<p>This is some text</p>
	</div>
	<div class="gp-events-wrapper">
		<div class="gp-events-content">
			<ul v-if="filteredPosts.length">
				<li v-for="(post, index) in filteredPosts">
					<router-link :to="{ name: 'event', params: { id: post.id }}">
						<event :eventId="post.id"></event>
					</router-link>
				</li>
			</ul>
		</div>
		<div class="gp-sidebar">
			Some things here
		</div>
	</div>
</section>
