.gp-events {
	text-align: center;
	.gp-events-wrapper {
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		.gp-events-content {
			& > ul {
				list-style-type: none;
				li img {
					height: 200px;
				}
			}
		}
	}
}
