<section class="gp-band">
	<div class="section-header">
		<h1>Band</h1>
		<p>This is some text</p>
	</div>
	This is the band:
	<img :src="band.image" /> {{band.content}} And these are the members:
	<hr>
	<ul>
		<li v-for="(member, index) in members">
			<router-link :to="{ name: 'member', params: { id: member.id }}">
				<member :memberId="member.id"></member>
			</router-link>
		</li>
	</ul>
</section>
