::selection {
  background: $gp-black;
  color: $gp-white;
  text-shadow: 0px 0px 0px;
}

::-moz-selection {
  background: $gp-black;
  color: $gp-white;
  text-shadow: 0px 0px 0px;
}

::-webkit-selection {
  background: $gp-black;
  color: $gp-white;
  text-shadow: 0px 0px 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  background-image: url(/assets/images/GroovyPeacocksLogo.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position-x: 116%;
  background-position-y: -201%;
  background-color: $gp-black;
  color: $gp-white;
  font-size: 18px;
  padding: 0;
  margin: 0;

  #app{
    background: #000000e3;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    overflow-x: hidden;
  } 

  h1 {
    font-size: 3rem;
  }

  a {
    color: $gp-main-color;
    text-decoration: none;
  }

  .gp-main-content{
    margin: 0 $gp-main-content-margin;
    background-color: #289ebb0d;
    padding: $gp-main-content-padding;
    border-radius: 58px;

    &>section {
      text-align: center;
    }
  }
}

.quote {
  width: 350px;
  font-size: 21px;
  font-style: italic;

  span{
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 17px;
  }
}

//fonts

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

p, a, div, strong, li {
  font-family: 'Noto Serif', serif;
}