<div class="gp-header">
  <img class="gp-header-logo" src="/assets/images/logo.png"/>
<nav class="gp-header-nav">
	<ul>
		<router-link tag="li" to="/" exact>
			<a>Home</a>
    </router-link>
    <router-link tag="li" to="/band" exact>
      <a>Band</a>
      <ul>
        <!-- sublist members -->
      </ul>
		</router-link>
		<router-link tag="li" to="/news" exact>
			<a>News</a>
    </router-link>
    <router-link tag="li" to="/media" exact>
			<a>Media</a>
    </router-link>
    <router-link tag="li" to="/events" exact>
			<a>Events</a>
    </router-link>
		<router-link tag="li" to="/contact" exact>
			<a>Contact</a>
    </router-link>
	</ul>
</nav>
<gp-player lyrics="true"></gp-player>
</div>