.gp-header {
    padding: $gp-main-content-padding;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    img {
		width: 500px;
    }
	.gp-header-nav {
		
		& > ul {
			display: flex;
			justify-content: center;
			flex-direction: row;
            list-style-type: none;
            padding: 0;

			li {
				padding: 20px;

				ul {
					display: none;
				}
			}
		}
	}
}
