<section class="gp-media">
	<div class="section-header">
		<h1>Media</h1>
		<p>This is some text</p>
	</div>
	<div class="gp-media-wrapper">
		<div class="gp-media-column">
			<div class="quote">One good thing about music, when it hits you, you feel no pain.
				<span>"Bob Marley"</span>
			</div>
			<div class="gp-belt-wrapper quote-space">
				<div class="gp-media-belt odd">
					<ul>
						<li v-for="(mediaItem, index) in chunkedMedia[0]">
							<img :src="mediaItem.src">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="gp-media-column">
			<div class="gp-belt-wrapper">
				<div class="gp-media-belt even">
					<ul>
						<li v-for="(mediaItem, index) in chunkedMedia[1]">
							<img :src="mediaItem.src">
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="gp-media-column">
			<div class="gp-belt-wrapper">
				<div class="gp-media-belt odd">
					<ul>
						<li v-for="(mediaItem, index) in chunkedMedia[2]">
							<img :src="mediaItem.src">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
