.gp-media-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: center;

    .gp-media-column {
        height: 200vh;
        overflow: hidden;

        .gp-belt-wrapper.quote-space{
            margin-top: 50px;
            overflow: hidden;
        }

        .gp-media-belt {
            height: 100%;
            animation-duration: 400s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            &.even {
                animation-name: imageRowEven;
            }

            &.odd {
                animation-name: imageRowOdd;
            }

            &:hover {
                -webkit-animation-play-state:paused;
                animation-play-state:paused;   
            }

            ul{
                list-style-type: none;
                padding: 0;
        
                img {
                    width: 100%;

                    &:hover{
                        animation-duration: .5s;
                        animation-name: jello;
                    }
                }
            }
        }
    }
}

@keyframes imageRowEven {
    0%   {transform: translateY(-60%)}
    50%  {transform: translateY(0%)}
    100% {transform: translateY(-60%)}
}

@keyframes imageRowOdd {
    0%   {transform: translateY(0%)}
    50%  {transform: translateY(-60%)}
    100% {transform: translateY(0%)}
}