<div class="gp-member">
	<transition v-if="memberId" name="member-appear-animation" enter-active-class="animated flipInX">
		<article v-if="member.name">
			<div class="gp-single-member-wrapper">
				<img v-bind:src="member.image">
				<div class="gp-single-member-content">
					<h3 class="card-title">{{ member.name }}</h3>
					<p class="card-text">{{ member.id }}</p>
				</div>
			</div>
		</article>
	</transition>
	<transition v-else name="member-appear-animation" enter-active-class="animated flipInX">
		<div v-if="member.name">
			<div class="card card-block">
				<h3 class="card-title">{{ member.name }}</h3>
				<img v-bind:src="post.image">
				<p class="card-text">{{ member.bio }}</p>
			</div>
			<hr>
			<router-link class="" to="/band">
				<i class="fas fa-adjust"></i>Back to Band
			</router-link>
		</div>
	</transition>
</div>
