<div class="gp-player">
    <audio @ended="songEnded" ref="gp-player">
        <source :src="currentSong.src" type="audio/mpeg">
    </audio>
    <div class="player-controls">
        <button class="previous-song" @click="previousSong">Prev</button>
        <button class="play-pause" @click="playToggle">Play</button>
        <button class="next-song" @click="nextSong">Next</button>
        <br>
        <input type="range" @input="volumeChange" min="0" max="1" step=".01" value="0.5">
    </div>
    <div>{{currentSong.name}} ({{currentTime}}/{{totalDisplayTime}})</div>
    <progress @click="seekChange" min="0" :max="totalTime" step=".01" :value="currentSeekTime"></progress>
</div>