<section class="gp-news" v-show="posts.length">
	<div class="section-header">
		<h1>NEWS</h1>
		<p>This is some text</p>
	</div>
	<div class="gp-news-wrapper">
		<div class="gp-news-content">
			<ul v-if="filteredPosts.length">
				<li v-for="(post, index) in filteredPosts">
					<router-link :to="{ name: 'new', params: { id: post.id }}">
						<new :newId="post.id"></new>
					</router-link>
				</li>
			</ul>
		</div>
		<div class="gp-sidebar">
			Some things here
		</div>
	</div>
</section>
