<div>
	<transition v-if="newId" name="post-appear-animation" enter-active-class="animated flipInX">
		<article v-if="post.title">
			<div class="gp-single-new-wrapper">
				<img v-bind:src="post.image">
				<div class="gp-single-new-content">
					<h3 class="card-title">{{ post.title }}</h3>
					<p class="card-text">{{ post.content }}</p>
				</div>
			</div>
		</article>
	</transition>
	<transition v-else name="post-appear-animation" enter-active-class="animated flipInX">
		<div v-if="post.title">
			<div class="card card-block">
				<h3 class="card-title">{{ post.title }}</h3>
				<img v-bind:src="post.image">
				<p class="card-text">{{ post.content }}</p>
			</div>
			<hr>
			<router-link class="" to="/news">
				<i class="fas fa-adjust"></i>Back to News
			</router-link>
		</div>
	</transition>
</div>
